{
    "_kom0": "skopiuj zawartość tego pliku do settings.json (w tym katalogu musisz utworzyć) wypełniając dla siebie",
        "id": "id uzytkownika, ktory ma miec dostep do funkcji administracyjnych bota",
        "token": "token bota",
        "mongo": "adres bazy mongodb z nazwa bazy danych, zalecane: localhost/nougat",
        "dashboard": {
                "id": "Client ID bota",
                "secret": "Client Secret bota",
                "callback": "Callback url bota (wiecej info w readme)",
                "url": "adres dashboarda"
        }
}