{
    "_kom0": "skopiuj zawartość tego pliku do settings.json (w tym katalogu musisz utworzyć) wypełniając dla siebie",
    "_kom1": "id - id uzytkownika, ktory ma miec dostep do funkcji administracyjnych bota",
        "id": "",
    "_kom2": "token - token bota",
        "token": "",
    "_kom3": "ytapi - klucz do api youtuba, więcej informacji google",
        "ytapi": "",
    "_kom4": "prefix - prefix bota",
        "prefix": "*",
    "_kom5": "mongo - adres bazy mongodb z nazwa bazy danych, np. localhost/nougat",
        "mongo": "localhost/nougat",
    "_kom6": "host - nick osoby hostującej, możliwe że twój",
        "host": "",
    "_kom7": "tablica id moderatorow (ty tez masz dostep do funkcji moderatora)",
        "mods": ["4321", "1234"]
}